<div class="spotify">
    <div class="login">

        <div class="login__header">
            <img class="login__header-logo" src="../../../assets/images/spotifyBlackLogo.png" alt="spotify">
        </div>

        <div class="login__body">
            <h1 class="login__body-tittle">Accede a tu cuenta</h1>
            <button class="login__body-button" (click)="redirect()">
                <span class="login__body-button-span"></span>
                <span class="login__body-button-span"></span>
                <span class="login__body-button-span"></span>
                <span class="login__body-button-span"></span>
                LOG IN
            </button>
        </div>  
    </div>
    <div class="container">
        <div class="bubbles">
            <span class="bubbles__span" style="--i:11;"></span>
            <span class="bubbles__span" style="--i:12;"></span>
            <span class="bubbles__span" style="--i:24;"></span>
            <span class="bubbles__span" style="--i:10;"></span>
            <span class="bubbles__span" style="--i:14;"></span>
            <span class="bubbles__span" style="--i:23;"></span>
            <span class="bubbles__span" style="--i:18;"></span>
            <span class="bubbles__span" style="--i:16;"></span>
            <span class="bubbles__span" style="--i:19;"></span>
            <span class="bubbles__span" style="--i:20;"></span>
            <span class="bubbles__span" style="--i:22;"></span>
            <span class="bubbles__span" style="--i:25;"></span>
            <span class="bubbles__span" style="--i:18;"></span>
            <span class="bubbles__span" style="--i:21;"></span>
            <span class="bubbles__span" style="--i:15;"></span>
            <span class="bubbles__span" style="--i:13;"></span>
            <span class="bubbles__span" style="--i:26;"></span>
            <span class="bubbles__span" style="--i:17;"></span>
            <span class="bubbles__span" style="--i:13;"></span>
            <span class="bubbles__span" style="--i:28;"></span>
        </div>
    </div>
   
</div>
