
<article class="sidebar-links">
    <aimage 
        url="../../../assets/images/home.svg" 
        alt="Home" 
        label="Inicio"
        color='white'
        href="/dashboard">
    </aimage>
    <aimage 
        url="../../../assets/images/Perfil.png"
        alt="Profile" 
        label="Mi Perfil"
        color='white'
        href="/dashboard/perfil">
    </aimage>
    <aimage 
        url="../../../assets/images/bookmark.svg"
        alt="Library" 
        label="Favoritos"
        color='white'
        href="/dashboard/favoritos">
    </aimage>
</article>
