<div class="perfil">
    <div class="perfil__button">
        <pimage 
        url={{profile$.images[0].url}} 
        alt="Perfil" 
        label='{{profile$.display_name}}'>
        </pimage>
        <img class="perfil__arrow" src="../../../assets/images/downIcon.png" alt="Down-Arrow">   
    </div>
    <div class="perfil__links">
        <aimage 
            url="../../../assets/images/logOut.svg"
            alt="Search" 
            label="Log out"
            href="/"
            (click)="LogOut()"
            color="black">
        </aimage>
    </div>
</div>


