<div class="perfil">
    <div class="perfil__button">
        <pimage 
        url="../../../assets/images/Perfil.png" 
        alt="Perfil" 
        label="Lucas arboleda">
        </pimage>
        <img class="perfil__arrow" src="../../../assets/images/downIcon.png" alt="Down-Arrow">   
    </div>
    <div class="perfil__links">
        <aimage 
            url="../../../assets/images/search.svg"
            alt="Search" 
            label="Mi perfil"
            href="/my-account">
        </aimage>
        <aimage 
            url="../../../assets/images/search.svg"
            alt="Search" 
            label="Log out"
            href="/"
            (click)="LogOut()">
        </aimage>
    </div>
</div>


