@import "../../../styles/variables.scss";

.a-image{

    &__icon{
        width: 1.4rem;
        margin: 0 .5vw;
    }
    
    &__button{  
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        width: 100%;
        border: .1rem solid transparent;
        border-radius: 1rem;
        padding: .5vh 0;

        &-black{
            &:hover{
                border: .1rem solid $black; 
            }
        }
        &-white{
            &:hover{
                border: .1rem solid $t-white; 
            }
        }
    }
}

.white{
    color: $t-white;
    &-icon{
        filter: invert(1); 
    }  
}

.black{
    color: $black;
}

